@keyframes loading {
  0% { transform: rotate(0) }
  100% { transform: rotate(360deg) }
}
.loading div { box-sizing: border-box!important }
.loading > div {
  position: absolute;
  width: 70.84px;
  height: 70.84px;
  top: 41.58px;
  left: 41.58px;
  border-radius: 50%;
  border: 6.16px solid #000;
  border-color: #6b1810 transparent #6b1810 transparent;
  animation: loading 1.5873015873015872s linear infinite;
}

.loading > div:nth-child(2), .loading > div:nth-child(4) {
  width: 55.44px;
  height: 55.44px;
  top: 49.28px;
  left: 49.28px;
  animation: loading 1.5873015873015872s linear infinite reverse;
}
.loading > div:nth-child(2) {
  border-color: transparent #d34c31 transparent #d34c31
}
.loading > div:nth-child(3) { border-color: transparent }
.loading > div:nth-child(3) div {
  position: absolute;
  width: 100%;
  height: 100%;
  transform: rotate(45deg);
}
.loading > div:nth-child(3) div:before, .loading > div:nth-child(3) div:after {
  content: "";
  display: block;
  position: absolute;
  width: 6.16px;
  height: 6.16px;
  top: -6.16px;
  left: 26.18px;
  background: #6b1810;
  border-radius: 50%;
  box-shadow: 0 64.68px 0 0 #6b1810;
}
.loading > div:nth-child(3) div:after {
  left: -6.16px;
  top: 26.18px;
  box-shadow: 64.68px 0 0 0 #6b1810;
}

.loading > div:nth-child(4) { border-color: transparent; }
.loading > div:nth-child(4) div {
  position: absolute;
  width: 100%;
  height: 100%;
  transform: rotate(45deg);
}
.loading > div:nth-child(4) div:before, .loading > div:nth-child(4) div:after {
  content: "";
  display: block;
  position: absolute;
  width: 6.16px;
  height: 6.16px;
  top: -6.16px;
  left: 18.48px;
  background: #d34c31;
  border-radius: 50%;
  box-shadow: 0 49.28px 0 0 #d34c31;
}
.loading > div:nth-child(4) div:after {
  left: -6.16px;
  top: 18.48px;
  box-shadow: 49.28px 0 0 0 #d34c31;
}
.loader-spinner-double-ring-2sczlvxc1cu {
  width: 154px;
  height: 154px;
  display: inline-block;
  overflow: hidden;
  background: none;
}
.loading {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(1);
  backface-visibility: hidden;
  transform-origin: 0 0; /* see note above */
}
.loading div { box-sizing: content-box; }
